.button-row > button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.app {
  display: flex;
}

.app > div {
  width: 50vw;
  height: 100vh;
  overflow: auto;
}

.form-control {
  background-color: var(--bs-gray-300) !important;
}
